<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWIGSee</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/IMG/TWIGSEEICON.png') }}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="main">
        <div class="logophoto">
            <img src="{{ url_for('static', filename='/IMG/twigseelogo1.jpg') }}" alt="LOGO" width="400px">
        </div>
        <div class="form">
            <form action="/" method="POST" enctype=multipart/form-data>
                <div class="input-group mb-3">
                    <input type="file" name="file" class="form-control" id="inputGroupFile02">
                </div>  

                <button type="submit" class="btn btn-outline-primary">Submit</button>
             
            </form>

            {% if prediction %}
                <p> <h1> The predicted species of the plant is: </h1> </p>
                <p> <h5>{{ prediction }} </h5></p>
            {% endif %}
        </div>
    </div>
</body>
</html>