body{
    background-image: url('IMG/bg-img.jpeg');
background-repeat: no-repeat;
background-attachment: fixed;
  background-size: cover;
}
.form{
position: absolute;
top: 35%;
left:25%;
width:750px;
}
.btn{
color: green;
text-decoration-color: lightgreen;
border-color: white;
border-color: whitesmoke;}
.logophoto
{
    
    width:auto;
    position: absolute; 
    top: 8%;
    left: 36%;

}

